body {
    background-image: url('https://pousta.com/wp-content/uploads/2017/12/muralprovi.png'); 
    background-size: cover; 
}

.card{
    background: rgb(249,244,94);
    background: linear-gradient(79deg, rgba(249,244,94,0.9528186274509804) 0%, rgba(245,255,0,0.5326505602240896) 50%, rgba(242,242,8,0.8099614845938375) 100%);
}

#furm, #furi {
    background: rgb(249,244,94);
    background: linear-gradient(79deg, rgba(249, 244, 94, 0.795) 0%, rgb(235, 240, 85) 50%, rgba(247, 247, 55, 0.699) 100%);
}



.border {
    border-color:  rgba(250, 248, 250, 0);
    border-width: 1px;
}

a {
    text-decoration: none;
}

img {
    height: 30px;
    width: 30px;
}



