<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/257d64f6e2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% load static %}
	<link rel="stylesheet" href="{% static 'js/style.css' %}">
    <title>Register</title>
</head>
<body>
    <section id="fondologin"  class="vh-100" style="background-image: url('https://i.redd.it/f5iixrn7lj521.jpg'); background-size: cover;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11 p-2">
                    <div class="card m-0 p-0 border">
                        <div class="card-body m-0 p-1" style="display: contain;">
                            <div class="row justify-content-center">
                                <h1 class="text-center text-white mb-3 mt-4">User Registration</h1>

                                <div class="col-md-5 col-lg-5 col-xl-5 order-2 order-lg-1 mt-2">
                                    
                                    <form class="mx-1 mx-md-4" method="POST" action="/register">
                                        <h3 class="text-center text-dark mb-3 mx-1 mx-md-4 mt-4 ms-2">New User</h3>
                                        {% csrf_token %}
                                        <div class="d-flex flex-row align-items-center mb-2">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="form3Example1c" class="form-control" name="name" required/>
                                                    <label class="form-label" for="form3Example1c">Your Name</label>
                                                </div>
                                        </div>
            
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="email" id="form3Example3c" class="form-control" name="email" required/>
                                                <label class="form-label" for="form3Example3c">Your Email</label>
                                            </div>
                                        </div>
            
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="password" id="form3Example4c" class="form-control" name="password" required />
                                                    <label class="form-label" for="form3Example4c">Password</label>
                                                </div>
                                        </div>
                
                                        <div class="d-flex flex-row align-items-center mb-2">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="password" id="form3Example4cd" class="form-control" name="password_confirm" required />
                                                    <label class="form-label" for="form3Example4cd">Repeat your password</label>
                                                </div>
                                        </div>
            
                                        <div class="form-check d-flex justify-content-center mb-5 d-none">
                                            <input
                                            class="form-check-input me-2"
                                            type="checkbox"
                                            value=""
                                            id="form2Example3c"
                                            />
                                            <label class="form-check-label" for="form2Example3">
                                            I agree all statements in <a href="#!">Terms of service</a>
                                            </label>
                                        </div>
            
                                        <div class="d-flex justify-content-center mx-4 mb-1 mb-lg-4">
                                            <input type="submit" class="btn bg-white text-warning fw-bolder"value="Sign up">
                                        </div>
            
                                    </form>
    
                                </div>
                                <div class=" col-md-5 col-lg-5 col-xl-5 align-items-top order-lg-1 mt-2">
                                    <form class="mx-1 mx-md-4" method="POST" action="/login">
                                        <h3 class="text-center text-dark mb-3 mx-1 mx-md-4 mt-4">User</h3>
                                        {% csrf_token %}
                                        <div class="d-flex flex-row align-items-top mb-2">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="email" id="form3Example3c" class="form-control" name="email" required />
                                                <label class="form-label" for="form3Example3c">Your Email</label>
                                            </div>
                                        </div>
            
                                        <div class="d-flex flex-row align-items-center mb-3">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="password" id="form3Example4c" class="form-control" name="password" required />
                                                    <label class="form-label" for="form3Example4c">Password</label>
                                                </div>
                                        </div>
                                        <div class="d-flex justify-content-center mx-4 mb-1 mb-lg-4">
                                            <input type="submit" class="btn bg-white text-warning fw-bolder" value="Sign in">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
        }

        $('document').ready(function(){
            {% if messages%}
                {% for message in messages %}
                    toastr.{{message.tags}}("{{message}}");
                {% endfor %}
            {% endif %}
        });
    </script>
</body>
</html>