{% extends 'index.html' %}

{% block title %}The Wall {% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<div class="container p-4" style="min-height: 600px;">
    <form id="furm" class="offset-1 col-10 border mt-3" method="POST" action="/makepost">
        {% csrf_token %}
        <div class="row p-2">
            <div class="offset-1 col-10">
            <h4 class="p-0 mb-4 display-5 mt-3 text-center fw-bolder">THE WALL</h4>
            </div>
        </div>
        <div class="row ps-2">
            <div class="offset-1 col-10">
                <h5 class="ms-2 mb-1">Make a Post</h5>
                <textarea id="message" name="message" cols="55" rows="1" class="form-control input-index mx-auto">
                </textarea>
            </div>
        </div>
        <div class="row p-2">
            <div class="offset-1 col-10">
                <button type="submit" class="btn text-white border border-white" required>Create</button>
            </div>
        </div>
        <div class="row p-2">
            <div class="offset-1 col-10 mt-4 mb-4" style="min-height: 100px;">
                <h5 class="ms-2 mb-1 ">Recent Posts</h5>
                <div class="border border-white mb-4" style="min-height: 100px; border-radius: 8px;">
                    <!--<div class="text-white">    
                        {% for message in messages %}    
                        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>    
                        {% endfor %}
                    </div>-->
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $("#network_input").on("change", function () {
        if ($(this).val() === "other") {
            $("#newNetwork").removeClass("d-none");
        } else {
            $("#newNetwork").addClass("d-none");
        }
    });
</script>
{% endblock %}